/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.top-header {
    background-color: #282830;
    color: #fff;
    float: left;
    font-size: 36px;
    left: 0;
    padding: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 97.6%;
}

body {
    background: url(Images/bg.png) repeat;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 20px;
}

.info-form {
    display: block;
    margin: 100px auto;
    width: 400px;
}


.statistic-block {
    margin: 120px 0 0;
    border-radius: 0 0 5px 5px;
    display: block;
    width: 35%;
}

.content {
    background-color: white;
    border-radius:0 0 5px 5px;
}

h1 {
    border-radius: 5px 5px 0 0;
    background-color: #282830;
    color: #fff;
    font-size: 16px;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    vertical-align: top;
}

.table-details { text-align: center; }

.table-details tr:first-child:hover { background-color: white; }

.table-details tr:hover { background-color: #eee; }

.table-split { margin-top: 20px; }

.content p {
    color: red;
    text-align: center;
}

.up { color: green; }

.down { color: red; }