
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.top-header {
	float:left;
	font-size:36px;
	padding:20px;
	width:100%;
	text-transform:uppercase;
	background-color:#282830;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
}

body {
	background: url(Images/bg.png) repeat;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 20px;
}

.info-form {
	display:block;
	margin:100px auto;
	width:400px;
}


.block {
	margin: 50px auto;
	max-width:400px;
	border-radius: 0 0 5px 5px;
    background-color: white;
}


.content {
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 0 0 5px 5px;
}

.info-form h1 {
	background-color: #282830;
  	border-radius: 5px 5px 0 0;
  	color: #fff;
  	font-size: 16px;
  	padding: 20px;
  	text-align: center;
  	text-transform: uppercase
}

.table-details {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table-details tr:first-child:hover{
    background-color: white;
}

.table-details tr:hover{
    background-color: #eee;
}

.content p {
    color: red;
    text-align: center;
}


.up {
    color: green;
}

.down {
    color: red;
}
