/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.top-header {
    background-color: #282830;
    color: #fff;
    float: left;
    font-size: 36px;
    left: 0;
    padding: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 97.6%;
}

body {
    background: url(Images/bg.png) repeat;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 20px;
}

.info-form {
    display: block;
    margin: 100px auto;
    width: 400px;
}


.block {
    background-color: white;
    border-radius: 0 0 5px 5px;
    display: block;
    margin: 20px auto;
    width: 400px;
}

.block:first-child { margin: 120px auto auto; }

.content {
    border-radius: 0 0 5px 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 16px;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.table-details {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.table-details tr:first-child:hover { background-color: white; }

.table-details tr:hover { background-color: #eee; }

.content p {
    color: red;
    text-align: center;
}


.up { color: green; }

.down { color: red; }