@{
    ViewBag.Title = "Crawler";
}

<div class="info-form">
    <div class="statistic-block">
        <h1>Статистика</h1>
        <div class="content">
            <p>
                В базе нет ни одной записи!
            </p>
        </div>
    </div>

    <div class="statistic-block">
        <h1>Подробно</h1>
        <div class="content">
            <p>
                Нечего отображать!
            </p>
        </div>

    </div>
</div>
